<aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div class="profile">
          <img src="/img/sign.jpg" alt="Image" class="img-fluid">
          <h3 class="name">{{{user.name}}}</h3>
          {{#if user.pNumber}}
          <span class="country">{{{user.pNumber}}}</span>
          {{/if}}
        </div>

        <div class="nav-menu">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/userinfo">My Profile</a></li>
            <li><a href="/expenses">Expensives</a></li>
            <li><a href="#">Due</a></li>
            <li>
              <a href="/friends">Friends</a>
            </li>
            <li><a href="/auth/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </aside>